$navbar-background: rgb(99, 131, 159);
$light-background: rgba(164, 194, 227, 0.276);
$font-light-color1: rgba(255, 255, 255, 0.92);
$font-dark-color1: rgb(48, 48, 48);
/* $link-hover-color: rgba(176, 172, 128, 0.324); */
$link-hover-color: rgba(78, 103, 125, 0.605);