
@import 'colors';
@import 'breakpoints';
@import 'reset';

body {
	background-color: $light-background;

    #navbar {
        position: sticky;
        top: 0;
        background: linear-gradient($navbar-background 80%, rgba(255, 255, 255, 0) 100%);
        width: 100%;
        height: 15vh;
        margin: auto;
        display: flex;
        justify-content: flex-end;

        ul {
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            /* width: 50%; */
        }

        a {
            color: $font-light-color1;
            text-decoration: none;
            font-size: 2.3em;
            letter-spacing: 0.1em;
            padding: 10px 20px;
            margin: 0 20px;
            border-radius: 5px;
            transition: background-color 0.3s ease-in-out;
        }

        a:hover {
            background-color: $link-hover-color;
        }
        
        a:visited {
            color: $font-light-color1;
        }
    }

    #welcome-section {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        * {
            color: $font-dark-color1;
            letter-spacing: 0.1em;
        }

        h1 {
            font-size: 5em;
            font-weight: normal;
            padding-top: 15vh;
        }
        
        p {
            font-size: 2em;
        }
    }

    #projects {
        padding-top: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 2.5em;
            font-weight: normal;
            letter-spacing: 0.05em;
            margin-bottom: 1em;
        }

        #tile-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 20px;
        }

        .project-tile {
            background-color: rgb(179, 96, 96);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 160%;
            width: 500px;
            height: 350px;
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: box-shadow 0.2s ease-in-out;
        }

        .project-tile:hover {
            box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 5px rgba(0, 0, 0, 0.19);
        }
        
        #tribute-page {
            background-image: url("images/tribute_page_img.jpg");
        }
        
        #survey-page {
            background-image: url("images/survey_img.jpg");
        }
        
        #product-landing-page {
            background-image: url("images/product_landing_img.jpg");
        }
        
        #technical-documentation-page {
            background-image: url("images/technical_documentation_img.jpg");
        }
    }

    #contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15vh;
        padding-bottom: 400px;

        p, a {
            font-size: 1.7em;
            padding-bottom: 3em;
            color: $font-dark-color1;
            text-decoration: none;
        }
        
        input {
            font-size: 1.2em;
            padding: 5px 10px;
            margin-bottom: 40px;
        }
        
        input[type="submit"] {
            padding: 5px 20px;
        }
    }

    footer {
        margin: 20px 0;
        padding: 40px;
        border-top: 3px solid black;

        p {
            text-align: right;
        }
    }
}

@media (max-width: $breakpoint2) {
    body {
        #navbar {
            justify-content: center;

            a {
                font-size: 1.6em;
            }
        }

        #welcome-section {
            h1 {
                font-size: 4em;
            }
        }

        #projects {
            h1 {
                font-size: 2em;
            }

            .project-tile {
                width: 40vw;
                height: 28vw;
            }
        }

        #contact {
            p, a {
                font-size: 1.4em;
            }
        }
    }
}

@media (max-width: $breakpoint3) {
    body {
        #navbar {
            justify-content: center;

            a {
                font-size: 1.4em;
                margin: 0;
            }
        }

        #welcome-section {
            h1 {
                font-size: 2.5em;
            }

            p {
                font-size: 1.5em;
            }
        }

        #projects {
            h1 {
                font-size: 1.2em;
            }

            #tile-container {
                grid-template-columns: 1fr;
                grid-template-rows: auto;
            }

            .project-tile {
                width: 80vw;
                height: 56vw;
            }
        }

        #contact {
            p, a {
                font-size: 1em;
            }

            input {
                font-size: 1em;
                width: 100%;
            }
        }

        footer {
            font-size: 0.5em;
        }
    }
}
